/*-----------General CSS-----------*/


html {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

b{
    font-weight: 700;
}

body {
    background-color: #ddd;  
    overflow: hidden;  
}

/*-----------Login Screen CSS-----------*/

.login-screen {
    width: 100vw;
    top: 0;
    height: 100vh;
    max-width: 450px;
    margin: auto;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-screen img {
    margin-top: 72px;
    margin-bottom: 94px;
}

.login-screen input {
    width:261px;
    height: 54px;
    outline: none;
    font-size: 18px;
    background-color: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    margin-bottom: 15px;
}

.login-screen button {
    width: 109px;
    height: 45px;
    background-color: #E7E7E7;
    color: #696969;
    border: none;
    border-radius: 9px;
}

.login-screen input::placeholder{
    text-align: center;
    color: #aeaeae;
}

.login-screen input:-ms-input-placeholder {
    text-align: center;
    color: #aeaeae;
}
.login-screen input::-webkit-input-placeholder {
    text-align: center;
    color: #aeaeae;

}

.login-error-modal {
    width: 60%;
    height: 300px;
    background-color: #000d;
    position: relative;
    top: -28%;
    border: 1px solid #DDD;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    opacity: 0;
    transition: all ease .8s;
}





/*-----------Chat Screen CSS-----------*/


.site-container {
    width: 100vw;
    top: 0;
    height: 100vh;
    max-width: 450px;
    margin: auto;
    background-color: #E5E5E5;
    overflow: hidden;
}

header {
    width: 100vw;
    max-width: 450px;
    height:80px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

header .container {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

header .container button {
    background-color: transparent;
    border: none;
}

main {
    margin-top: 80px;
    width: 100%;
    height: calc(100vh - 80px);
}

.chat-area {
    margin-top: 26px;
    height: calc(100% - 80px);
    overflow-y: scroll;
}

.chat-area .loading {
    margin: auto;
    width: fit-content;
    position: relative;
    top: 50%;
}



.message:nth-child(1) {
    margin-top: 26px;
}

.message {
    min-height: 40px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    word-break: break-all;
}

.message .container {
    width: 95%;
}

.user-situation {
    background-color: #dcdcdc;
}

.public-message {
    background-color: #fff;
}

.private-message {
    background-color: #FFDEDE;
}

.message .container .time-stamp {
    color: #aaa;
}

.input-area {
    position: fixed;
    bottom: 0;
    width: 100vw;
    max-width: 450px;
    background-color: #fff;
    height: 80px;
    display: flex;
}

.input-area .container {
    width: 100%;
    display: flex;
}

.input-area .container input {
    outline: none;
    margin: 0px;
    border: none;
    width: 100%;
    min-height: 100%;
    padding: 25px 17px;
    font-size: 18px;
}

.input-area .container input::placeholder{
    font-style: italic;
}

.input-area .container input:-ms-input-placeholder {
    font-style: italic;
}
.input-area .container input::-webkit-input-placeholder {
    font-style: italic;
}

.input-area .container button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    width: 26px;
    height: 26px;
    margin: 27px 18px;
    padding: 0;
}

.input-area .container img {
    width: 26px;
}




/*-----------Side Menu CSS-----------*/

aside{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 4;
    top:-100vh;
    display: flex;
    transition: all ease .6s;
    right: -100%;
}

.site-overlay {
    width: 100%;
    transition: all ease .6s;
}

.overlay-bg {
    background-color: rgba(0,0,0,0.8);
}

.side-menu {
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 2;

}

.side-menu .text-container {
    width: 75%;
    padding: 30px 0px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-menu .text-container:nth-child(3) {
    padding: 20px 0px;
}

.side-menu .section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.side-menu .section .line {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.side-menu .section .flex-distribution {
    display: flex;
    align-items: center;
}

.side-menu .check-icon {
    width: 9px;
    height: 7px;
}

.side-menu .section .line .flex-distribution img {
    width: 24px;
    margin-right: 8px;
}

.side-menu .section.message-visibility .line img {
    width: 20px;
}

.side-menu .text-container span {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}








/*-----------Javascript Manipulation Classes-----------*/



.no-display {
    display: none;
}

.opacity-control-on {
    opacity: 1;
}

.opacity-control-off {
    opacity: 0;
}

.right-transition {
    right: 0;
}